SCHEMATIC START ;
// created by map version D.19 on Sat Nov 11 08:00:53 2023 
COMP "$Net00019_" LOCATE = SITE "P21" LEVEL 1; 
COMP "$Net00066_" LOCATE = SITE "P22" LEVEL 1; 
COMP "$Net00065_" LOCATE = SITE "P23" LEVEL 1; 
COMP "$Net00023_" LOCATE = SITE "P66" LEVEL 1; 
COMP "$Net00064_" LOCATE = SITE "P65" LEVEL 1; 
COMP "$Net00062_" LOCATE = SITE "P64" LEVEL 1; 
COMP "$Net00007_" LOCATE = SITE "P39" LEVEL 1; 
COMP "$Net00017_" LOCATE = SITE "P41" LEVEL 1; 
COMP "$Net00016_" LOCATE = SITE "P47" LEVEL 1; 
COMP "$Net00015_" LOCATE = SITE "P42" LEVEL 1; 
COMP "$Net00014_" LOCATE = SITE "P46" LEVEL 1; 
COMP "$Net00013_" LOCATE = SITE "P43" LEVEL 1; 
COMP "$Net00005_" LOCATE = SITE "P57" LEVEL 1; 
COMP "$Net00043_" LOCATE = SITE "P24" LEVEL 1; 
COMP "$Net00021_" LOCATE = SITE "P29" LEVEL 1; 
COMP "$Net00059_" LOCATE = SITE "P31" LEVEL 1; 
COMP "$Net00058_" LOCATE = SITE "P33" LEVEL 1; 
COMP "$Net00006_" LOCATE = SITE "P32" LEVEL 1; 
COMP "$Net00125_" LOCATE = SITE "P61" LEVEL 1; 
COMP "$Net00124_" LOCATE = SITE "P54" LEVEL 1; 
COMP "$Net00121_" LOCATE = SITE "P12" LEVEL 1; 
COMP "$Net00057_" LOCATE = SITE "P19" LEVEL 1; 
COMP "$Net00119_" LOCATE = SITE "P16" LEVEL 1; 
COMP "$Net00117_" LOCATE = SITE "P11" LEVEL 1; 
COMP "$Net00040_" LOCATE = SITE "P67" LEVEL 1; 
COMP "$Net00063_" LOCATE = SITE "P68" LEVEL 1; 
COMP "$Net00052_" LOCATE = SITE "P48" LEVEL 1; 
COMP "$Net00053_" LOCATE = SITE "P49" LEVEL 1; 
COMP "$Net00055_" LOCATE = SITE "P51" LEVEL 1; 
COMP "$Net00044_" LOCATE = SITE "P53" LEVEL 1; 
COMP "$Net00041_" LOCATE = SITE "P55" LEVEL 1; 
COMP "$Net00039_" LOCATE = SITE "P56" LEVEL 1; 
COMP "$Net00051_" LOCATE = SITE "P58" LEVEL 1; 
COMP "$Net00050_" LOCATE = SITE "P2" LEVEL 1; 
COMP "$Net00037_" LOCATE = SITE "P3" LEVEL 1; 
COMP "$Net00036_" LOCATE = SITE "P4" LEVEL 1; 
COMP "$Net00035_" LOCATE = SITE "P5" LEVEL 1; 
COMP "$Net00032_" LOCATE = SITE "P6" LEVEL 1; 
COMP "$Net00031_" LOCATE = SITE "P7" LEVEL 1; 
COMP "$Net00030_" LOCATE = SITE "P8" LEVEL 1; 
COMP "$Net00029_" LOCATE = SITE "P13" LEVEL 1; 
COMP "$Net00026_" LOCATE = SITE "P14" LEVEL 1; 
COMP "$Net00025_" LOCATE = SITE "P15" LEVEL 1; 
COMP "$Net00049_" LOCATE = SITE "P17" LEVEL 1; 
COMP "$Net00022_" LOCATE = SITE "P20" LEVEL 1; 
SCHEMATIC END ;
